Package/AttendanceApp/Microsoft.Flow/flows/14bfc451-88ea-42fe-8ced-fa8d523ca217/definition.json
{"name":"9b745b3d-c8ff-43c6-bee7-ef96d82dfdb5","id":"/providers/Microsoft.Flow/flows/9b745b3d-c8ff-43c6-bee7-ef96d82dfdb5","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ExportStudentFile","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"4a5e3786-b863-496f-9cfd-e44668a3d054","type":"User","tenantId":"406c04ec-ef38-41c6-96a1-8949545e836c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-01-29T13:29:10.7256105Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getitems_FilterQuery":{"type":"string","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).. This parameter is used as part of \"76540DD7-568B-4484-A257-8DEC9251B6CD\"","x-ms-powerflows-param-ispartial":true},"Getitems_FilterQuery_1":{"type":"string"},"Getitems_FilterQuery_2":{"type":"string"},"Getitems_FilterQuery_3":{"type":"string"}},"required":["Getitems_FilterQuery","Getitems_FilterQuery_1","Getitems_FilterQuery_2","Getitems_FilterQuery_3"]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365edu748418.sharepoint.com/sites/PineviewSchoolStaff'))}/tables/@{encodeURIComponent(encodeURIComponent('b08d8ac2-5047-4aef-b118-47917e5e6656'))}/items","queries":{"$filter":"Date ge '@{triggerBody()['Getitems_FilterQuery']}' and Date le '@{triggerBody()['Getitems_FilterQuery_1']}' and ClassId eq '@{triggerBody()['Getitems_FilterQuery_2']}' and StudentEmailId  eq '@{triggerBody()['Getitems_FilterQuery_3']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_CSV_table":{"runAfter":{"Get_items":["Succeeded"]},"type":"Table","inputs":{"from":"@body('Get_items')?['value']","format":"CSV","columns":[{"header":"Name","value":"@item()?['StudentName']"},{"header":"Class","value":"@item()?['ClassName']"},{"header":"Date","value":"@item()?['Date']"},{"header":"StartTime","value":"@item()?['StartTime']"},{"header":"EndTime","value":"@item()?['EndTime']"},{"header":"Attendance","value":"@item()?['Attendance']"},{"header":"AttendanceTakenBy","value":"@item()?['AttendanceTakenBy']"},{"header":"Notes","value":"@item()?['Notes']"}]}},"Compose":{"runAfter":{"Create_CSV_table":["Succeeded"]},"type":"Compose","inputs":"@utcNow()"},"Create_file":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/onedriveforbusiness"}},"method":"post","body":"@body('Create_CSV_table')","path":"/datasets/default/files","queries":{"folderPath":"/","name":"@{triggerBody()['Getitems_FilterQuery_3']}@{outputs('Compose')}.csv"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"b86bbaf81deb43cab4499034a8cf485e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-b1d4b072-fa3c-4955-971a-d349747e3e86","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}